
*{
    background-size: cover;
}
body{
    background-image: url('https://images4.alphacoders.com/793/7938.jpg');
    background-size: cover;
}
header h1{
    text-align: center;
}
h3{
    background-color: rgba(145, 131, 131, 0.5);
    border: 1px solid grey;
    border-radius: 1000px;
    font-size: 32px;
    font-family: 'Architects Daughter', cursive;
}
img{
    width: 45%;
    height: 45%;
}
header select{
    float: right;
    margin: 0 40px 0 4px;
    height: 30px;
    border-radius: 1000px;
}
header #switch{
    float: right;
}

.container-bag{
    width: 380px;
    height: 400px;
    background-color: transparent;
    background-image: url(../img/4099933.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.container-text{
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.container-text button{
    background-color: rgba(249, 181, 45, 0.8);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 1000px;
}
.container-text input{
    background-color: rgba(249, 181, 45, 0.8);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 1000px;
}
.container-text .text *{
    width: 49%;
    margin: 0;
    line-height: 24px;
    font-size: 18px;
}
#winner{
    color: rgb(199, 109, 0);
}
#resultado{
    width: 25%;
    height: 300px; 
    background-color: rgba(145, 131, 131, 0.5);
    color: white;
    font-weight: bold;
    font-size: 18px;
}
#list{
    margin: 0;
    height: 300px;
    overflow-y: scroll; 
    border: 1px solid grey;
    border-radius: 5px;
}
textarea{
    border-radius: 5px;
    background-color: rgba(145, 131, 131, 0.5);
    color: white;
    font-weight: bold;
    font-size: 18px;
}
#sorteo{
    border-radius: 5px;
    margin-top: 5%;
}
input{
    border-radius: 5%;
    margin-top: 5%;
}
section{
    clear: both;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.bag-main{
    text-align: center;
    font-size: 18px;
}
footer{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
footer span{
    background-color: rgba(145, 131, 131, 0.5);
    margin: 0 24px;
    padding: 5px;

}

/* Animations */
.container-bag_anim1 {
    /* Start the shake animation and make the animation last for 2 seconds */
    animation: shake 2s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
.container-bag_anim2 {
    /* Start the shake animation and make the animation last for 1 seconds */
    animation: shake 1s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
.container-bag_anim3 {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Modo Oscuro */


body.dark {
    /* background: #01010148; */
    background-color: #00000096;
    color: white;
    background-blend-mode: darken;
    background-size: cover;
}
.dark{
    background-color: #00000096;
    color: white !important;
    background-blend-mode: darken;
    background-size: cover;
}
.switch {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    margin-right: 5px;
}
 .switch:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch.active {
    background: orange;
    color: #000;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

/*Media queries*/
@media screen and (max-width: 700px) {
    section{
        flex-direction: column;
        align-items: center;
    }
    h1 *{
        width: 90%;
    }
    h3{
        width: 90%;
        margin: 12px 5px 0 18px !important;
        
    }
    .container-text{
        margin-top: 10px;
        width: 90%;
        height: 200px;
    }
    .bag-main *{
        margin: 0;
        padding: 0;
    }
    #resultado{
        width: 95%;
    }
    #switch{
        margin-right: 100px;
    }
    footer{
        margin-top: 10px;
        flex-direction: column-reverse;
        justify-content: center;
    }
    footer span{
        text-align: center;
    }
}
