.container-bag{
    height: 400px;
    /* width: 600px; */
    background-color: red;
    /* margin-left: 20%; */
    background-image: url(../img/money-bag-vector.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}


.container-text{

}
h1{
    text-align: center;
}
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}